@import '~/src/scss/base/variables';

:host {
  strong {
    font-size: 25px;
    color: $vermelho;
  }

  .conteudo {
    width: calc(100% - 300px);
    margin-left: 300px;
    height: calc(100% - 30px);
    padding: 30px;
  }
}
