@import '~/src/scss/base/variables';

:host {
  strong {
    font-size: 25px;
    color: $vermelho;
  }

  .conteudo {
    width: calc(100% - 200px);
    margin-left: 200px;
    padding: 30px;
    background-color: var(--body);
    overflow-y: auto;
    height: 100%;
  }

}
