<div class="navigation">
  <ul>
      <li>
          <a href="#">
              <span class="icon">
                <mat-icon>dashboard</mat-icon>
              </span>
              <span class="title">DashBoard</span>
          </a>
      </li>
      <li>
          <a routerLink="#">
              <span class="icon">
                <mat-icon>settings</mat-icon>
              </span>
              <span class="title">Settings</span>
          </a>
      </li>
      <li>
        <a routerLink="#">
            <span class="icon">
              <mat-icon> list_alt</mat-icon>
            </span>
            <span class="title">Tesouros</span>
        </a>
    </li>
      <li>
          <a routerLink="">
              <span class="icon">
                <mat-icon>lock</mat-icon>
              </span>
              <span class="title">Password</span>
          </a>
      </li>
      <!-- <li>
          <a routerLink="/">
              <span class="icon">
                <mat-icon>exit_to_app</mat-icon>
              </span>
              <span class="title">Sair</span>
          </a>
      </li> -->
  </ul>
</div>
