<div class="navigation">
  <ul>
      <li>
          <a href="#">
              <span class="icon">

              </span>
              <span class="title">HortiFruti</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon">

              </span>
              <span class="title">DashBoard</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon">

              </span>
              <span class="title">Customers</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon">

              </span>
              <span class="title">Message</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon">

              </span>
              <span class="title">Help</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon">

              </span>
              <span class="title">Settings</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon">

              </span>
              <span class="title">Password</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon">

              </span>
              <span class="title">Sair</span>
          </a>
      </li>
  </ul>
</div>
