<div class="tesouro">
  <h1>	<mat-icon>account_balance</mat-icon> {{ tesouro['tipo_titulo'] }}</h1>
  <table>
    <tbody>
      <tr>
        <th>Vencimento do Titulo</th>
        <td>{{ tesouro['ano_vencimento'] }}</td>
      </tr>
      <tr>
        <th>Data Venda</th>
        <td>{{ tesouro['data_venda']['$date'] | date : 'dd/MM/yyyy' : '+00:00' }}</td>
      </tr>
      <tr>
        <th>PU</th>
        <td>{{ tesouro['PU'] | currency:'BRL' }}</td>
      </tr>
      <tr>
        <th>Quantidade</th>
        <td>{{ tesouro['quantidade'] }}</td>
      </tr>
      <tr>
        <th>Valor Negociável</th>
        <td>{{ tesouro['valor'] | currency:'BRL' }}</td>
      </tr>

    </tbody>
  </table>

  <!-- <div class="graficos">
    <canvas id="taxaRetorno"> {{chart4}}</canvas>
  </div> -->

</div>

