<div class="tesouro">
  <h1>	<mat-icon>account_balance</mat-icon> {{ tesouro['Tipo Titulo'] }}</h1>
  <table>
    <tbody>
      <tr>
        <th>Vencimento do Titulo</th>
        <td>{{ tesouro['Vencimento do Titulo'] }}</td>
      </tr>
      <tr>
        <th>Data Venda</th>
        <td>{{ tesouro['Data Venda'] }}</td>
      </tr>
      <tr>
        <th>PU</th>
        <td>R$ {{ tesouro['PU'].toFixed(2) }}</td>
      </tr>
      <tr>
        <th>Quantidade</th>
        <td>{{ tesouro['Quantidade'] }}</td>
      </tr>
      <tr>
        <th>Valor</th>
        <td>R$ {{ tesouro['Valor'] }}</td>
      </tr>

    </tbody>
  </table>

</div>

