<div class="conteudo-principal">
  <h1>Vendas do Tesouro Direto</h1>
  <button class="botao-submit" (click)="novaConsulta()" type="button" *ngIf="pesquisou">
    Nova Consulta
  </button>

    <form [formGroup]="tesouroForm" class="formulario" *ngIf="!pesquisou">
      <mat-form-field appearance="fill">
        <mat-label>Selecione o Tipo de Titulo</mat-label>
        <mat-select formControlName="tipo">
          <mat-option *ngFor="let titulo of TiposDeTitulos" [value]="titulo" (onSelectionChange)="selecionaPapel(titulo)">
            {{titulo.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>Selecione a Data de vencimento </mat-label>
        <mat-select formControlName="dataVencimento">
          <mat-option value=""> Todos </mat-option>
          <mat-option *ngFor="let data of listaDataVencimento" [value]="data">
            {{data}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Selecione o Titulo que será comparado</mat-label>
        <mat-select formControlName="comparativo">
          <mat-option value=""> Nenhum </mat-option>
          <mat-option *ngFor="let titulo of TiposDeTitulos" [value]="titulo" (onSelectionChange)="selecionaPapelComparativo(titulo)">
            {{titulo.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="selecionouComparativo" >
        <mat-label>Selecione a Data de vencimento do titulo que será comparado</mat-label>
        <mat-select formControlName="dataComparativo">
          <mat-option value=""> Todos </mat-option>
          <mat-option *ngFor="let data of listaDataVencimentoComparativo" [value]="data">
            {{data}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="date-picker" >
        <label> Selecione a data de venda inicial: </label>
        <input type="date" formControlName="initialDate"  />
      </div>
      <div class="date-picker">
        <label> Selecione a data de venda final: </label>
        <input type="date" formControlName="finalDate" />
      </div>


      <button class="botao-submit" (click)="submitForm()" type="button">
        Enviar
      </button>
    </form>

  <div class="mat-elevation-z8" *ngIf="pesquisou">
    <h2>{{ tipo.value.value }}</h2>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="Tipo Titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Titulo </th>
        <td mat-cell *matCellDef="let row"> {{ row['Tipo Titulo']    }} </td>
      </ng-container>

      <ng-container matColumnDef="Vencimento do Titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vencimento do Titulo</th>
        <td mat-cell *matCellDef="let row"> {{ row['Vencimento do Titulo'] }} </td>
      </ng-container>

      <ng-container matColumnDef="Data Venda">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Venda </th>
        <td mat-cell *matCellDef="let row"> {{ row['Data Venda'] | date : 'dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="PU">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PU </th>
        <td mat-cell *matCellDef="let row"> R$  {{ row['PU'].toFixed(2)  }} </td>
      </ng-container>

      <ng-container matColumnDef="Quantidade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </th>
        <td mat-cell *matCellDef="let row"> {{ row['Quantidade'] }} </td>
      </ng-container>

      <ng-container matColumnDef="Valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
        <td mat-cell *matCellDef="let row"> R$ {{ row['Valor'] }} </td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
        <td mat-cell *matCellDef="let row" (click)="AbrirModalTesouro(row)"> <mat-icon>remove_red_eye</mat-icon> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" [length]="tesouros.length" showFirstLastButtons></mat-paginator>
  </div>

  <div class="graficos">
      <div class="grafico" *ngIf="pesquisou">
        <canvas id="canvas"> {{chart}}</canvas>
      </div>

      <div class="grafico" *ngIf="pesquisou">
        <canvas id="precoTaxa"> {{chart2}}</canvas>
      </div>
  </div>

</div>
