@import '~/src/scss/base/variables';

.table-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--text-body);
}

.mat-elevation-z8 {
  width: 80%;
  margin: 15px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  //width: 25%;
}

.conteudo-principal {
  margin-bottom: 45px;
}

.select-period {
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  span {
    font-weight: 600;
  }

}

.date-picker {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;

  input {
    width: 200px;
    margin: 10px;
    padding: 5px 15px;
    border: 1px solid #CCC;
    text-align: center;
    border-radius: 5px;
  }
}

.botao-submit {
  width: 200px;
  padding: 10px;
  background: $roxo;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: $branco;
  background: $roxo;
  font-size: 18px;

  &:hover {
    background: darken($roxo, 20%);
  }
}

.formulario {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graficos {
  display: flex;
  flex-direction: row;


  @media (max-width: 1350px) {
    flex-wrap: wrap;
  }
}

.grafico {
  padding: 25px;
  width: 100%;
}
